{% extends 'base.html' %}

{% block title %}Pending Requests{% endblock %}

{% block content %}
    <h1>Pending Requests</h1>
    {% if received_requests %}
        <table>
            <thead>
            <tr>
                <th>Requested by</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Timestamp</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for request in received_requests %}
                <tr>
                    <td>{{ request.sender }}</td>
                    <td>{{ request.amount }}</td>
                    <td>{{ request.currency|upper }}</td>
                    <td>{{ request.timestamp }}</td>
                    <td>
                        <form action="{% url 'handle_request' request.id 'accept' %}" method="post" onsubmit="return confirm('Are you sure you want to accept this payment request?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Accept</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'handle_request' request.id 'reject' %}" method="post" onsubmit="return confirm('Are you sure you want to reject this payment request?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no pending requests.</p>
    {% endif %}
{% endblock %}