{% extends 'base.html' %}

{% block title %}Transaction History{% endblock %}

{% block content %}
    <h1>Transaction History</h1>
    <table>
        <thead>
        <tr>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.sender.username }}</td>
                <td>{{ transaction.recipient.username }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.currency }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block styles %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}





