{% extends 'base.html' %}

{% block title %}
    Account Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Hello, {{ user.first_name }}</h1>
                <div class="text-center">
                    <p>Your account balance is: <span class="font-weight-bold">{{ user.account_balance|floatformat:2 }} {{ user.currency|upper }}</span></p>
                </div>
                <div class="text-center">
                    <a href="{% url 'payuser' %}">
                        <button class="btn btn-primary mt-4">
                            Make a Payment
                        </button>
                    </a>
                </div>
                <div class="text-center">
                    <a href="{% url 'payrequest' %}">
                        <button class="btn btn-primary mt-4">
                            Request a Payment
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
